<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>
    <style>
    </style>
    <script type="application/javascript">
    </script>
</head>
<body>

    <p>This is a vocabulary trainer for Spanish.</p>
    <p>There are <span th:text="${wordCount}"></span> words to learn, but with masculine/feminine variation,
       it looks more like <span th:text="${expandedSpanishWordCount}"></span> words.</p>
    <p>You have learned <span th:text="${spanishWordsLearned}"></span> of those <span th:text="${expandedSpanishWordCount}"></span> words from Spanish to English.</p>
    <a href="spanish-to-english">Practice Spanish to English</a>

</body>
</html>